@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");
@import url("https://use.typekit.net/inc5mwt.css");
body {
  height: 100vh;
  margin: 0;
  font-family: 'Poppins', 'arial';
  overflow-x: hidden;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}

img {
  width: 100%;
}

h1 {
  font-family: adorn-smooth-serif, serif;
  color: #57421a;
}

section {
  padding: 2em 1em;
}

@media (min-width: 1280px) {
  section {
    padding: 4em 0em;
  }
}

.section__title {
  text-align: center;
  font-family: adorn-smooth-serif, serif;
  font-style: normal;
  font-weight: 400;
  color: #57421a;
  font-size: 1.6em;
}

.button {
  background-color: #EEDCD0;
  border: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: Henriette, serif;
  font-size: 1.3em;
  text-transform: uppercase;
  width: 220px;
  height: 80px;
  margin: 2em;
  position: relative;
  top: 0.2em;
  left: 0.2em;
  cursor: pointer;
}

.button::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: transparent;
  position: absolute;
  top: -0.3em;
  left: -0.35em;
  border: 1px solid #3A3430;
}

input:focus-visible,
select:focus-visible,
textarea:focus-visible,
button:focus-visible,
label:focus-visible {
  outline: 2px solid #57421a;
}

.nav__hero {
  background: #f5f1ed;
  height: 100vh;
}

.nav__hero .nav__logo {
  color: #000;
  font-weight: bold;
  z-index: 1000;
}

.nav__hero__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  top: 0;
  left: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2em;
}

.hero__img__cont {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0%;
  left: 0%;
  height: 95%;
  width: 100%;
  z-index: 1;
}

.hero__img__cont .hero__img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
  top: 0%;
  left: 0%;
  height: 100%;
  z-index: 1;
}

@-webkit-keyframes triangle-animation {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  50% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
}

@keyframes triangle-animation {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  50% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
}

.triangle {
  width: 0;
  height: 0;
  position: absolute;
  bottom: 15px;
  left: calc(50% - 50px);
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 100px solid #202525;
  -webkit-animation: triangle-animation 3000ms ease-in-out 500ms infinite normal forwards;
          animation: triangle-animation 3000ms ease-in-out 500ms infinite normal forwards;
}

.hamburger {
  display: hidden;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  margin: 0;
  z-index: 1000;
}

.hamburger__box {
  width: 35px;
  height: 24px;
  display: hidden;
  position: relative;
  top: 10px;
  z-index: 1000;
}

.hamburger__inner {
  width: 100%;
  height: 3px;
  background-color: #000;
  position: absolute;
  left: 0;
  top: 0%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: background-color .1s .1s ease-in-out;
  transition: background-color .1s .1s ease-in-out;
  z-index: 1000;
}

.hamburger__inner::before,
.hamburger__inner::after {
  content: '';
  width: 100%;
  height: 3px;
  background-color: #000;
  position: absolute;
  left: 0;
  -webkit-transition: -webkit-transform .2s ease-in-out;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
  z-index: 1000;
}

.hamburger__inner::before {
  top: -10px;
}

.hamburger__inner::after {
  top: 10px;
}

.hamburger--active .hamburger__inner {
  background-color: transparent;
}

.hamburger--active .hamburger__inner:before {
  -webkit-transform: translateY(10px) rotate(45deg);
          transform: translateY(10px) rotate(45deg);
  background-color: #000;
}

.hamburger--active .hamburger__inner:after {
  -webkit-transform: translateY(-10px) rotate(-45deg);
          transform: translateY(-10px) rotate(-45deg);
  background-color: #000;
}

@media (max-width: 1023px) {
  .hamburger {
    display: inline-block;
  }
  .hamburger__box {
    display: inline-block;
  }
}

@media (max-width: 1023px) {
  .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #000;
    height: 100vh;
    width: 0vw;
    background-color: #fbf7f0;
    position: absolute;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    top: 0;
    left: 0;
    -webkit-transform: translateX(0vw);
            transform: translateX(0vw);
    -webkit-transition: opacity .3s .1s ease-in-out, width .3s .1s ease-in-out;
    transition: opacity .3s .1s ease-in-out, width .3s .1s ease-in-out;
    opacity: 0;
    z-index: 10;
  }
}

@media (min-width: 1024px) {
  .navigation {
    -webkit-transform: translate(0vw);
            transform: translate(0vw);
    -webkit-transition: opacity .3s .1s ease-in-out, width .3s .1s ease-in-out;
    transition: opacity .3s .1s ease-in-out, width .3s .1s ease-in-out;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100vw;
    opacity: 1;
    font-size: .8em;
    z-index: 4;
  }
}

.navigation--active {
  -webkit-transform: translate(0vw);
          transform: translate(0vw);
  -webkit-transition: opacity .3s .1s ease-in-out, width .3s .1s ease-in-out;
  transition: opacity .3s .1s ease-in-out, width .3s .1s ease-in-out;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  opacity: 1;
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 1.2;
}

@media (min-width: 1024px) {
  .navigation__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.navigation__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  list-style: none;
  font-size: 1.2em;
  color: #fff;
  line-height: 1.2em;
  text-transform: uppercase;
  letter-spacing: 1.7px;
  margin: .5em 1em;
  font-family: adorn-smooth-serif, serif;
}

.navigation__item a {
  color: #000;
}

@media (min-width: 1024px) {
  .navigation__item {
    line-height: 1.2em;
    font-size: 1.2em;
  }
}

.hero {
  background: transparent;
  color: #f3e8d5f5;
  text-shadow: 0px 0px 3px #00000085;
  text-transform: uppercase;
  text-align: left;
  padding: 0.5 2em 2em 2em;
}

.hero__content {
  z-index: 999999;
}

.hero__text {
  position: relative;
  font-family: adorn-condensed-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3em;
  line-height: 1.5em;
  z-index: 9;
  padding: 1em 1em;
}

@media (min-width: 600px) {
  .hero__text {
    padding: 1em 1em;
    font-size: 3.5em;
  }
}

@media (min-width: 1024px) {
  .hero__text {
    padding: 1em 1.5em;
    font-size: 4em;
  }
}

@media (min-width: 1440px) {
  .hero__text {
    padding: 1em 2em;
    font-size: 4.5em;
  }
}

@media (min-width: 1640px) {
  .hero__text {
    padding: 0.5em 3em;
    font-size: 5em;
  }
}

.meet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  font-weight: bold;
  color: #f3e8d5f5;
  position: absolute;
  bottom: 10%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  z-index: 2;
}

@-webkit-keyframes zobacz-animation {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes zobacz-animation {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.zobacz {
  text-shadow: 0px 0px 5px #000000;
  -webkit-animation: zobacz-animation 3000ms ease-in-out 500ms infinite normal forwards;
          animation: zobacz-animation 3000ms ease-in-out 500ms infinite normal forwards;
  font-family: adorn-smooth-serif, serif;
}

span {
  margin-top: 1em;
}

.scroll {
  width: 30px;
  margin-top: 2em;
  margin-right: .5em;
}

#about {
  background-color: #F5F1ED;
  margin-left: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 700px) {
  #about {
    width: 100%;
    margin: auto;
  }
}

@media (min-width: 1500px) {
  #about {
    width: 100%;
  }
}

#about .about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#about .about__container .about__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  top: -1.2em;
  padding: 0 0 2em 0;
  width: 60%;
}

#about .about__container .about__header h1 {
  position: relative;
  top: 0.5em;
}

#about .about__container .about__header .portrait {
  background: url("https://image.freepik.com/darmowe-zdjecie/ladna-i-delikatna-urocza-europejska-niezalezna-niezalezna-freelancerka-w-zoltej-koszulce-wzdychajaca-dotykajaca-szyi-i-patrzaca-marzycielsko-w-prawy-gorny-rog-z-przyjemnym-usmiechem-pozujaca-na-pomaranczowym-tle_1258-55255.jpg") 48% 15% no-repeat;
  position: relative;
  top: -2em;
  width: 80px;
  height: 80px;
  background-color: #eeaaee;
  border-radius: 50%;
}

#about .about__container .about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1024px) {
  #about .about__container .about__content {
    width: 80%;
  }
}

@media (min-width: 1224px) {
  #about .about__container .about__content {
    width: 60%;
  }
}

#about .about__container .about__content__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1024px) {
  #about .about__container .about__content__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (min-width: 800px) {
  #about .about__container .about__content__container .about__content__left {
    width: 90%;
  }
}

@media (min-width: 1024px) {
  #about .about__container .about__content__container .about__content__left {
    width: 60%;
    padding: 0 1em;
  }
}

@media (min-width: 1024px) {
  #about .about__container .about__content__container .about__content__right {
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

#about .about__container p {
  font-family: open-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1em;
  line-height: 1.5em;
  display: inline-block;
  padding: 0 1em 2em 1em;
}

@media (min-width: 1024px) {
  #about .about__container p {
    padding: 0 3em 2em 3em;
  }
}

#about .about__container img {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 200px;
}

@media (min-width: 1024px) {
  #about .about__container img {
    width: 300px;
  }
}

.portfolio {
  background: #ffffff;
  text-align: center;
}

.portfolio__img {
  margin: 1em 0;
  /* Portrait */
  /* Landscape */
}

@media screen and (orientation: portrait) {
  .portfolio__img {
    /* Portrait styles here */
    width: 98%;
  }
}

@media screen and (orientation: landscape) {
  .portfolio__img {
    /* Landscape styles here */
    width: auto;
    height: 100vh;
  }
}

@media (min-width: 1024px) {
  .portfolio__img {
    width: auto;
    height: 60vh;
  }
}

.img__more__cont {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1em 0;
  margin: 0.5em auto;
}

.img__more__cont .img__more {
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
  /* Portrait */
}

.img__more__cont .img__more:hover {
  -webkit-filter: brightness(70%);
          filter: brightness(70%);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

@media screen and (orientation: portrait) {
  .img__more__cont .img__more {
    /* Portrait styles here */
    width: 92vw;
    height: 92vw;
  }
}

@media screen and (orientation: landscape) {
  .img__more__cont .img__more {
    width: 92vw;
    height: 92vh;
  }
}

@media (min-width: 1024px) {
  .img__more__cont .img__more {
    width: 80vh;
    height: 80vh;
  }
}

.img__more__title {
  position: absolute;
  font-family: adorn-condensed-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #f3e8d5f5;
  text-shadow: 0px 0px 1px #1c0c03;
  text-transform: uppercase;
  font-size: 4em;
  margin-top: -.4em;
  display: block;
  text-align: center;
}

.glider {
  overflow-x: hidden;
}

.glider__item {
  background: #fbf7f0;
  margin: 1em;
  padding: 2em;
}

button .glider-dot.active {
  background-color: #775b26;
}

.contact__section {
  background: #fbf7f0;
  margin: 0;
}

@media (min-width: 1024px) {
  .contact__section {
    margin: 3em 0;
  }
}

@media (min-width: 1440px) {
  .contact__section {
    margin: 4em 0;
  }
}

.contact__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1024px) {
  .contact__form {
    width: 700px;
    margin: auto;
  }
}

.contact__form__container {
  padding: 0.5em 0;
}

.input__line {
  margin: .4em 1em 1em 1em;
  padding: .5em;
  width: 90%;
}

.form__input {
  display: block;
  width: 100%;
  padding: 0.5em;
  border: none;
}

.contact__form__textarea {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
}

.wpcf7-submit {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-57%);
          transform: translateX(-57%);
  margin: 2em 0 2em 0;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  margin: 1em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 1024px) {
  .footer__container {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.footer__right__cont {
  margin: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__right__cont .navigation__item__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1em;
}

.footer__left__cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1em;
}

.footer a {
  padding: .4em 1em;
}

.footer__copyrights {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1em;
  font-size: .8em;
  border-top: 1px #000 solid;
}
/*# sourceMappingURL=main.css.map */