
// fonts
$menu-font: adorn-smooth-serif, serif;
$title-font: adorn-smooth-serif, serif;
$main-font: adorn-smooth-serif, serif;

// colors
$main-color: #ffffff;
$second-color: #775b26;
$logo-color: #000;
$hamburger-color: #000;
$hamburger-color-active: #000;
$menu-background: #fbf7f0;
$section-title: #775b26;
$menu-items-color: #000;


$xxs:"(max-width: 350px)";
$xs:"(max-width: 351px) and (max-width: 453px)";
$s:"(min-width: 454px) and (max-width: 768px)";
$m:"(min-width: 769px) and (max-width: 1023px)";
$l:"(min-width: 1024px) and (max-width: 1023px)";
$xl:"(min-width: 1024px) and (max-width: 1365px)";
$xxl:"(min-width: 1366px) and (max-width: 1919px)";
$xxxl:"(min-width: 1920px)";
